.singup-page {
  background-color: hsl(0deg, 100%, 74%);
  background-image: url(../../images/bg-intro-mobile.png);
  background-repeat: repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}
@media (min-width: 77.18rem) {
  .singup-page {
    background-image: url(../../images/bg-intro-desktop.png);
    background-repeat: repeat;
    background-size: contain;
  }
}
.singup-page .singup-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23.5rem;
  height: 20rem;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-intro {
    width: 50%;
    height: 50rem;
    justify-content: center;
  }
}
.singup-page .singup-intro .singup-title {
  margin-top: 5rem;
  width: auto;
  height: auto;
  text-align: center;
  color: #fff;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-intro .singup-title {
    font-size: 3rem;
    text-align: left;
    width: 35rem;
  }
}
.singup-page .singup-intro .singup-paragraph {
  width: 20rem;
  height: auto;
  text-align: center;
  line-height: 1.5rem;
  color: #fff;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-intro .singup-paragraph {
    text-align: justify;
    width: 35rem;
  }
}
.singup-page .singup-section {
  width: 23.5rem;
  height: 40rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section {
    width: 50%;
    height: 50rem;
    justify-content: center;
  }
}
.singup-page .singup-section .singup-try {
  width: 19rem;
  height: 5rem;
  border-radius: 0.6rem;
  background-color: hsl(248deg, 32%, 49%);
  box-shadow: 0rem 0.5rem 0px 1px rgba(0, 0, 0, 0.205);
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-try {
    width: 36rem;
    height: 4rem;
  }
}
.singup-page .singup-section .singup-try p {
  height: auto;
  width: 15rem;
  color: #fff;
  text-align: center;
  line-height: 1.5rem;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-try p {
    width: 30rem;
  }
}
.singup-page .singup-section .singup-form {
  width: 19rem;
  height: 27.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.7rem 0.1rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form {
    width: 36rem;
  }
}
.singup-page .singup-section .singup-form form {
  width: 16rem;
  height: 18.5rem;
  margin-top: 1rem;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form form {
    width: 30rem;
  }
}
.singup-page .singup-section .singup-form form .singup-form-input {
  width: 14.8rem;
  height: 3rem;
  margin: 0.8rem 0 0.4rem 0;
  padding-left: 1rem;
  border-radius: 0.3rem;
  border: 1px solid hsl(246deg, 25%, 77%);
  visibility: visible;
  color: hsl(249deg, 10%, 26%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form form .singup-form-input {
    width: 28.5rem;
  }
}
.singup-page .singup-section .singup-form form .singup-form-input-error {
  width: 14.8rem;
  height: 3rem;
  margin: 0.8rem 0 0.4rem 0;
  padding-left: 1rem;
  border-radius: 0.3rem;
  border: 1px solid red;
  background-image: url(../../images/icon-error.svg);
  visibility: inherit;
  color: hsl(249deg, 10%, 26%);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form form .singup-form-input-error {
    width: 28.5rem;
  }
}
.singup-page .singup-section .singup-form form input[type=text]:focus {
  outline: 0.1rem solid hsl(249deg, 10%, 26%);
}
.singup-page .singup-section .singup-form .singup-form-btn {
  width: 16rem;
  height: 3rem;
  background-color: hsl(154deg, 59%, 51%);
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.1rem hsl(154deg, 79%, 32%);
  border: none;
  text-transform: uppercase;
  color: #fff;
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form .singup-form-btn {
    width: 30rem;
  }
}
.singup-page .singup-section .singup-form p {
  height: auto;
  width: 15rem;
  font-size: 0.7rem;
  line-height: 1.5rem;
  text-align: center;
  color: hsl(246deg, 25%, 77%);
}
@media (min-width: 77.18rem) {
  .singup-page .singup-section .singup-form p {
    width: 30rem;
  }
}
.singup-page .singup-section .singup-form p span {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
}

@media (min-width: 77.18rem) {
  .singup-page {
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style.css.map */
