.singup-page {
    background-color: $red;
    background-image: url(../../images/bg-intro-mobile.png);
    background-repeat: repeat;

    @include flex;
    align-items: center;
    flex-direction: column;

    font-family: 'Poppins', sans-serif;
    font-size: 1rem;

    @include desktop {
        background-image: url(../../images/bg-intro-desktop.png);
        background-repeat: repeat;
        background-size: contain;
    }

        .singup-intro {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 23.5rem;
            height: 20rem;

            @include desktop {
                width: 50%;
                height: 50rem;

                justify-content: center;
            }

                .singup-title {
                    margin-top: 5rem;
                    width: auto;
                    height: auto;
                    text-align: center;
                    color: $white;

                    @include desktop {
                        font-size: 3rem;
                        text-align: left;
                        width: 35rem;
                    }
                }
        
                .singup-paragraph {
                    width: 20rem;
                    height: auto;
                    text-align: center;
                    line-height: 1.5rem;
                    color: $white;

                    @include desktop {
                        text-align: justify;
                        width: 35rem;

                    }
                }

        }
        
        .singup-section {
            width: 23.5rem;
            height: 40rem;

            @include flex;
            align-items: center;
            flex-direction: column;

            @include desktop {
                width: 50%;
                height: 50rem;
                justify-content: center;
            }

                .singup-try {
                    width: 19rem;
                    height: 5rem;
                    border-radius: .6rem;
                    background-color: $blue;
                    box-shadow: 0rem .5rem 0px 1px rgba(0, 0, 0, 0.205);
                    margin-top: 3rem;
                    margin-bottom: 1.5rem;
        
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @include desktop {
                        width: 36rem;
                        height: 4rem;
                    }
                    
        
                        p {
                            height: auto;
                            width: 15rem;
                            color: $white;
                            text-align: center;
                            line-height: 1.5rem;

                            @include desktop {
                                width: 30rem;
                            }
                        }
                }
        
                .singup-form {
                    width: 19rem;
                    height: 27.5rem;
                    border-radius: .6rem;
                    box-shadow: 0 .7rem .1rem rgba(0, 0, 0, 0.2);
                    background-color: $white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    @include desktop {
                        width: 36rem;
                    }
        
                        form {
                            width: 16rem;
                            height: 18.5rem;
                            margin-top: 1rem;
                            
                            @include desktop {
                                width: 30rem;
                            }
        
                                .singup-form-input {
                                    width: 14.8rem;
                                    height: 3rem;
                                    margin: .8rem 0 .4rem 0;
                                    padding-left: 1rem;
                                    border-radius: .3rem;
                                    border: 1px solid $grayish-Blue;
                                    visibility: visible;
        
                                    color: $dark-Blue;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;

                                    @include desktop {
                                        width: 28.5rem;
                                    }
        
                                }

                                .singup-form-input-error {
                                    width: 14.8rem;
                                    height: 3rem;
                                    margin: .8rem 0 .4rem 0;
                                    padding-left: 1rem;
                                    border-radius: .3rem;
                                    border: 1px solid red;
                                    background-image: url(../../images/icon-error.svg);
                                    visibility: inherit;
        
                                    color: $dark-Blue;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 500;

                                    @include desktop {
                                        width: 28.5rem;
                                    }
        
                                }
                                
                                input[type=text]:focus {
                                    outline: .1rem solid $dark-Blue;
                                }

                            }
                        
                        .singup-form-btn {
                            width: 16rem;
                            height: 3rem;
        
                            background-color: $green;
                            border-radius: .3rem;
                            box-shadow: 0 .2rem .1rem hsl(154, 79%, 32%);
                            border: none;
        
                            text-transform: uppercase;
                            color: $white;

                            @include desktop {
                                width: 30rem;
                            }
                        }
        
                        p {
                            height: auto;
                            width: 15rem;
                            font-size: .7rem;
                            line-height: 1.5rem;
                            text-align: center;
                            color: $grayish-Blue;

                            @include desktop {
                                width: 30rem;
                            }
        
                                span {
                                    color: $red;
                                    font-weight: 700;
                                }    
                        }
                }
            }

        
}

@include desktop {
    .singup-page {
        display: flex;
        flex-direction: row;
    }
}